@model WebApplicationGestorTareas.Castigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Castigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plazo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plazo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Eliminar", "EliminarCastigo", new { idUsuario = ViewBag.idUsuario, idCastigo = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
