@model WebApplicationGestorTareas.Usuario

@{
    ViewBag.Title = "Recuperar Contraseña";
}

<h2>Recuperar Contraseña</h2>

@using (Html.BeginForm("RecuperarContraseña", "Usuarios", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-10">
            @Html.TextBox("UsuarioCorreo", null, new { @class = "form-control", placeholder = "Usuario o Correo Electrónico" })
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-10">
            @Html.Password("NuevaContraseña", null, new { @class = "form-control", placeholder = "Nueva Contraseña" })
            @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-10">
            @Html.Password("ConfirmarNuevaContraseña", null, new { @class = "form-control", placeholder = "Confirmar Nueva Contraseña" })
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Recuperar Contraseña" class="btn btn-default" />
        </div>
    </div>
}
